<ion-view title="SpotifyVideo" hide-back-button="true" class="list-view">
	<ion-content class="has-header">
		<ion-list>
			<ion-item ng-repeat="list in playlists" ui-sref="playlist({listid: list.id, userid: list.owner.id, listname: list.name})">
				{{list.name}}
			</ion-item>
		</ion-list>
		{{ status }}
	</ion-content>

	<ion-footer-bar class="bar-subfooter bar-stable" ng-show="currentTrack">
		<button ng-click="prev()" class="button button-outline button-positive pull-left"><i class="ion-skip-backward"></i> Prev</button>
        <div class="title" ng-if="!isPlaylist"> {{ currentTrack.track.name }} - {{ currentTrack.track.artists[0].name }} </div>
        <div class="title" ng-if="isPlaylist"> {{ currentPlaylist }} </div>
        <button ng-click="next()" class="button button-outline button-positive pull-left">Next <i class="ion-skip-forward"></i></button>
    </ion-footer-bar>
	<ion-footer-bar align-title="left" class="bar-positive">
		<button ng-click="play()" class="button button-positive no-outline pull-left"><i class="ion-play"></i> Play</button>
        <button ng-click="captureVideo()" class="title button button-positive no-outline"><i class="ion-videocamera"> Record Video</i></button>
        <button ng-click="pause()" class="button button-positive no-outline pull-right">Pause <i class="ion-pause"></i></button>
    </ion-footer-bar>
</ion-view>