<ion-view title="{{listname}}" class="playlist-view">
	<ion-nav-buttons side="right">
	  <button class="button button-positive no-outline" ng-click="openSpotify(listid)">
	    <i class="icon ion-share"></i>
	  </button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<button class="button button-full button-positive button-outline" ng-click="playPlaylist()">
			Shuffle Playlist <i class="ion-shuffle"></i>
		</button>
		<ion-list>
			<ion-item ng-repeat="item in tracks" class="list card">
				<div class="item item-avatar" ng-click="playTrack(item, $index)">
					<img src="{{item.track.album.images[0].url}}">
					<h2>{{item.track.name}}</h2>
                    <p>{{item.track.artists[0].name}}</p>
                </div>
            </ion-item>
        </ion-list>
	</ion-content>

	<ion-footer-bar class="bar-subfooter bar-stable" ng-show="currentTrack">
		<button ng-click="prev()" class="button button-outline button-positive pull-left"><i class="ion-skip-backward"></i> Prev</button>
        <div class="title" ng-if="!isPlaylist"> {{ currentTrack.track.name }} - {{ currentTrack.track.artists[0].name }} </div>
        <div class="title" ng-if="isPlaylist"> {{ currentPlaylist }} </div>
        <button ng-click="next()" class="button button-outline button-positive pull-left">Next <i class="ion-skip-forward"></i></button>
    </ion-footer-bar>
	<ion-footer-bar align-title="left" class="bar-positive">
		<button ng-click="play()" class="button button-positive no-outline pull-left"><i class="ion-play"></i> Play</button>
        <button ng-click="captureVideo()" class="button button-positive no-outline video-button"><i class="ion-videocamera"> Record Video</i></button>
        <button ng-click="pause()" class="button button-positive no-outline pull-right">Pause <i class="ion-pause"></i></button>
    </ion-footer-bar>
</ion-view>