<ion-view title="{{listname}}">
	<ion-nav-buttons side="right">
	  <button class="button button-light button-outline" ng-click="captureVideo()">
	    <i class="icon ion-videocam"></i>
	  </button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<button class="button button-full button-balanced button-outline" ng-click="playPlaylist()">
			Shuffle Playlist <i class="ion-shuffle"></i>
		</button>
		<ion-list>
			<ion-item ng-repeat="item in tracks" class="list card">
				<div class="item item-avatar">
					<img src="{{item.track.album.images[0].url}}">
					<h2>{{item.track.name}}</h2>
                    <p>{{item.track.artists[0].name}}</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" ng-click="playTrack(item)">
                        <i class="icon ion-music-note"></i> 
                        Play Track
                    </a>
                    <a class="tab-item" ng-click="openSpotify(item.track.external_urls.spotify)">
                        <i class="icon ion-share"></i>
                        Open in Spotify
                    </a>
                </div>
            </ion-item>
        </ion-list>
	</ion-content>

	<ion-footer-bar ng-if="isPlaylist" class="bar-subfooter bar-stable">
        <button ng-click="prev()" class="button button-outline button-balanced pull-left"><i class="ion-skip-backward"> Prev</i></button>
        <div class="title">{{ currentTrack.track.name }} - {{ currentTrack.track.artists[0].name }}</div>
        <button ng-click="next()" class="button button-outline button-balanced pull-right"><i class="ion-skip-forward"> Next</i></button>
    </ion-footer-bar>
	<ion-footer-bar align-title="left" class="bar-stable" ng-show="currentTrack">
        <button ng-click="play()" class="button button-outline button-balanced pull-left"><i class="ion-play"> Play</i></button>
    	<div class="title" ng-if="!isPlaylist"> {{ currentTrack.track.name }} - {{ currentTrack.track.artists[0].name }} </div>
    	<div class="title" ng-if="isPlaylist"> {{ currentPlaylist }} </div>
        <button ng-click="pause()" class="button button-outline button-balanced pull-right"><i class="ion-pause"> Pause</i></button>
    </ion-footer-bar>
</ion-view>